<!DOCTYPE html>
<html>
<head>
<title>Add Donor</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<a href="/">Home</a>

<h2>Add Blood Donor</h2>

<form method="post">

<input type="text" name="name" placeholder="Name" required>
<input type="text" name="blood_group" placeholder="Blood Group" required>
<input type="text" name="phone" placeholder="Phone">
<input type="text" name="city" placeholder="City">

<button type="submit">Add Donor</button>

</form>

</body>
</html>