<!DOCTYPE html>
<html>
<head>
<title>Blood Bank</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>Blood Bank Management System</h1>

<a href="/add">Add Donor</a>
<a href="/donors">View Donors</a>
<a href="/admin_login">Admin Login</a>

<h3>Search Blood Group</h3>

<form action="/search" method="post">
<input type="text" name="blood_group" placeholder="Enter Blood Group">
<button type="submit">Search</button>
</form>

</body>
</html>